---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<style>
  h2 {
    font-size: 3rem;
    font-weight: 700;
  }

  hr {
    color: var(--color-accent);
    width: 40%;
    margin-block: 2.5rem;
    border-width: 0.2rem;
  }
</style>

<div>
  <h2>{title}</h2>
  <hr />
</div>
