---
import MainLayout from "../../layouts/main_layout.astro";
import { loadTranslations, t } from "../../utils/i18n";
import { getEntry } from "astro:content";

import { readdirSync } from "fs";
import { join } from "path";
import { Image } from "astro:assets";

import Title from "../../components/Title.astro";

const images = Object.values(
  import.meta.glob("/src/images/projects/*.{svg,png,jpg,jpeg}", {
    eager: true,
  })
);

const { lang } = Astro.params;
let translations = await getEntry("home", lang);
if (!translations) {
  translations = await getEntry("home", "pl");
}
const p = translations.data;

export const prerender = true;
export async function getStaticPaths() {
  const localesDir = join(process.cwd(), "public", "locales");
  const supportedLanguages = readdirSync(localesDir, { withFileTypes: true })
    .filter((dirent) => dirent.isDirectory())
    .map((dirent) => dirent.name);
  return supportedLanguages.map((lang) => ({
    params: { lang },
  }));
}
---

<MainLayout>
  <div class="section pt-20">
    <Title title={p.projects.title} />

    <div
      class="project_images grid grid-cols-1 grid-flow-dense gap-4 mb-10 2xl:grid-cols-3"
    >
      {images.map((image) => <Image src={image.default} alt="" />)}
    </div>
  </div>
</MainLayout>
