---
import { Icon } from "astro-icon/components";
import parseIcon from "../../lib/parseIcon";

const { text, icon = "airplane", size, href = "" } = Astro.props;
---

<style>
  a {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-block: 0.75rem;
    padding-inline: 1.5rem;
    border-radius: 0.5rem;
    width: 60%;
    background-color: var(--color-accent);

    @media (min-width: 640px) {
      font-size: 1.875rem;
      width: 60%;
    }

    @media (min-width: 1024px) {
      padding-block: 1rem;
      width: 40%;
    }
  }

  a.big {
    width: 100%;
  }

  .svg {
    padding: 0;
    width: 2rem;
    color: var(--color-text);
  }
</style>

<a href={href} aria-label={""} class={size === "big" ? "big" : ""}>
  <p>{text}</p>
  <Icon name={parseIcon(icon)} />
</a>
