---
// index.astro
---

<html>
  <head>
    <script is:inline>
      (function () {
        // Sprawdź, czy nie jesteśmy już w podfolderze (zabezpieczenie przed pętlą)
        if (window.location.pathname !== "/") return;

        const userLang = navigator.language || "en";
        const langCode = userLang.toLowerCase().split("-")[0];

        if (langCode === "pl") {
          window.location.href = "/pl/";
        } else if (langCode === "de") {
          window.location.href = "/de/";
        } else {
          window.location.href = "/en/";
        }
      })();
    </script>
  </head>
  <body> </body>
</html>
